<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h1>Foo Fighters Forum</h1>
<h2>로그인</h2>

<form method="post" action="/login">
    <table border="1">
        <tr>
            <td>사용자 이름</td>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="password" required></td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="로그인">
</form>

</body>
</html>