<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foo Fighters Forum</title>
</head>
<body>
<h1>Foo Fighters Forum</h1>

<span th:if="${user == null}">
    <button th:onclick="|location.href='@{/login}'|">로그인</button>
</span>
<button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
<button th:onclick="|location.href='@{/community/write}'|">글 작성</button>

<b th:if="${user != null}">
    <span th:if="${user.get().getRole() == 1}">
    <button th:onclick="|location.href='@{/admin/deletedPosts}'|">삭제된 게시글 관리</button>
</span>
</b><br/><br/>

글 개수: <span th:text="${posts.size()}"></span>
<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>타이틀</th>
        <th>댓글</th>
        <th>작성자</th>
        <th>수정자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts == null}">
        <td colspan="5"> 게시글 없음</td>
    </tr>
    <tr th:each="post : ${posts}">

        <td><span th:text="${post.id}"></span></td>
        <td><a th:href="@{post(id=${post.id})}" th:text="${post.title}"></a></td>
        <td><span th:text="${post.commentCount}"></span></td>
        <td><span th:text="${post.created_by}"></span></td>
        <td>
            <span th:text="${post.updated_by} ? ${post.updated_by} : '-'"></span>
        </td>
        <td><span th:text="${post.doFormatDate(post.created_at)}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>